.avatar {
  width: 135px;
  height: 135px;
  border: 1px solid var(--color-white);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  background-image: url('../../../public/assets/images/icons/photo.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70%;
  position: relative;
  font-size: 10px;
  text-align: center;
  color: var(--color-grey-6);
}

.avatar_image {
  width: 100%;
  border-radius: var(--border-radius);
}

.avatar_status {
  position: absolute;
  bottom: 0;
  right: 0;
}

.avatar--size-s {
  width: 40px;
  height: 40px;
}

.avatar--size-xs {
  width: 28px;
  height: 28px;
}

.avatar--error {
  background-position: center 0px;
  background-image: url('../../../public/assets/images/icons/photo_error.svg');
}

.avatar--error::after {
  content: 'Error upload';
  display: block;
  width: 100%;
  position: absolute;
  color: var(--color-red);
  bottom: 16px;
  left: 0;
  text-align: center;
}
