.bg {
  background-size: 365px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.bg--size-l {
  background-size: 500px;
}

.bg--pos-tc {
  background-position: top center;
}

.bg--img-error500 {
  background-image: url('../../../public/assets/images/backgrounds/500.svg');
}

.bg--img-error404 {
  background-image: url('../../../public/assets/images/backgrounds/404.svg');
}

.bg--img-login {
  background-image: url('../../../public/assets/images/backgrounds/login.svg');
}

.bg--img-signup {
  background-image: url('../../../public/assets/images/backgrounds/signup.svg');
}

.bg--img-settings {
  background-image: url('../../../public/assets/images/backgrounds/settings.svg');
}

.bg--img-security {
  background-image: url('../../../public/assets/images/backgrounds/security.svg');
}
