<ul>
  {{#each data.messageItems }}
    {{SLOT 'messageItems' @index }}
  {{else}}
    {{#if data.search }}
      <li 
        class="bg bg--img-searching bg--size-l bg--pos-tc" 
        style="height: 100%;">
      </li>
    {{else}}
      <li 
        class="bg bg--img-message-sent bg--size-l bg--pos-tc" 
        style="height: 100%;">
      </li>
    {{/if}}
  {{/each}} 
</ul>
