<div class="message">
  <div class="message_top">
    <div class="message_avatar">
      <div class="avatar avatar--size-xs">
        <img
          src=""
          alt="avatar"
          class="avatar_image"
        />
        <div class="status status--online avatar_status"></div>
      </div>
    </div>
    <div class="message_name-user">Александддра Яковлееева</div>
    <div class="message_date">12:15</div>
  </div>
  <div class="message_bot">
    <div class="message_content">
      Aliquam pulvinar vestibulum blandit. Donec sed nisl libero.
      Fusce dignissim luctus sem eu dapibus. Pellentesque vulputate
      quam a quam volutpat, sed ullamcorper erat commodo. Vestibulum
      sit amet ipsum vitae mauris mattis vulputate lacinia nec
      neque.
    </div>
  </div>
</div>
