.form {
  padding: 20px;
}

.form_wrapper-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 220px;
  padding: 16px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.form-error_message {
  color: var(--color-red);
  width: 100%;
  margin-top: 8px;
  text-align: left;
}

.form--page {
  width: 100%;
  max-width: 350px;
  height: auto;
  background-color: var(--color-gray-6);
  border-radius: var(--border-radius);
}

.form--error .form_wrapper-inputs {
  border: 1px solid var(--color-red);
  border-radius: var(--border-radius);
}

.form--size-l {
  max-width: 430px;
}
