.field {
  display: flex;
  border-radius: 4px;
  margin-top: 12px;
  flex-direction: column;
  position: relative;
}

.field_label {
  font-size: var(--text-size-5);
}

.field_input {
  height: 32px;
  width: 100%;
  max-width: 200px;
  padding: 4px;
  padding-left: 8px;
  background-color: var(--color-white);
  border: 0;
  border-bottom: 2px solid var(--color-gray-5);
  border-radius: var(--border-radius);
  font-size: var(--text-size-3);
  overflow: hidden;
}

.field_input--width-unlimit {
  max-width: none;
}

.field_input::placeholder {
  color: var(--color-gray-5);
}

.field_input:focus {
  outline: 0;
  border-bottom-color: var(--color-blue-1);
}

.field_input:hover {
  border-bottom-color: var(--color-blue-2);
}

.field_input--error {
  border-bottom-color: var(--color-red);
}

.field_error {
  color: var(--color-red);
  font-size: var(--text-size-5);
  position: absolute;
  top: 46px;
}

.field_input--icon {
  background-size: 20px;
  background-position: 8px;
  background-repeat: no-repeat;
}

.field_input--icon-search {
  background-image: url('../../assets/images/icons/search.svg');
}

.field_input:focus.field_input--icon {
  background-image: none;
}
