.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top-bar_avatar {
  margin-right: 8px;
  flex-basis: 40px;
}

.top-bar_chat-name {
  font-size: var(--text-size-2);
  text-align: left;
  margin-right: auto;
}

.top-bar_actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
