.wrapper-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper_right {
  flex: none;
  width: 170px;
}
