@import url('./scroll.css');

@import url('../components/title/style.css');
@import url('../components/button/style.css');
@import url('../components/link/style.css');
@import url('../components/field/style.css');
@import url('../components/background/style.css');
@import url('../components/form/style.css');
@import url('../components/avatar/style.css');
@import url('../components/modal/style.css');
@import url('../components/fileUpload/style.css');
@import url('../components/status/status.css');
@import url('../components/fastLinks/styles.css');
@import url('../components/icon/style.css');

/* не знаю как подключить стили для конкретной странице оставлю это до вебпака */
@import url('../pages/setting/style.css');
@import url('../pages/chat/style.css');

/* В процессе создания */
@import url('../components/chatList/style.css');
@import url('../components/chatItem/style.css');
@import url('../components/message/style.css');
@import url('../components/badge/style.css');
@import url('../components/botBar/style.css');
@import url('../components/topBar/style.css');

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
    url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('ttf');
}

:root {
  --color-white: white;
  --color-black: black;
  --color-gray-1: #333;
  --color-gray-2: #4f4f4f;
  --color-gray-3: #828282;
  --color-gray-4: #bdbdbd;
  --color-gray-5: #e0e0e0;
  --color-gray-6: #f2f2f2;
  --color-red: #eb5757;
  --color-blue-1: #2f80ed;
  --color-blue-2: #2d9cdb;
  --color-blue-3: #56ccf2;
  --color-blue-4: #c0f0ff;
  --color-green-1: #219653;
  --color-green-2: #27ae60;
  --color-green-3: #6fcf97;
  --color-orange: #f2994a;
  --color-yellow: #f2c94c;
  --color-purple-1: #9b51e0;
  --color-purple-2: #bb6bd9;

  --border-radius: 4px;

  --text-size-1: 36px;
  --text-size-2: 22px;
  --text-size-3: 16px;
  --text-size-4: 14px;
  --text-size-5: 11px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: var(--text-size-3);
  font-weight: normal;
}

/* глуповатый хак, component это враппер для компонента */
component {
  width: 100%;
}

#app {
  /* width: 100%;
  height: 100%; */
  width: 100vw;
  height: 100vh;
}

.app {
}

.app--center {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
