::-webkit-scrollbar {
  width: 6px;
  border-radius: var(--border-radius);
  background-color: var(--color-gray-5);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background: var(--color-gray-4);
}

::-webkit-scrollbar-thumb:window-inactive {
  border-radius: var(--border-radius);
  background: var(--color-gray-4);
}
