html {
  font-family: Arial, Helvetica, sans-serif;
}

.text--size-1 {
  font-size: 36px;
}

.text--size-2 {
  font-size: 16px;
}

.text--size-3 {
  font-size: 14px;
}

.text--size-4 {
  font-size: 11px;
}

.text--color-red {
  color: var(--color-red);
}

.text--color-black {
  color: var(--color-black);
}

.text--color-gray {
  color: var(--color-gray);
}

.text--a-center {
  text-align: center;
}
